header {
    display: flex;
    background-color: rgb(59, 59, 59);
    position: sticky;
    top: 0em;
    width: 100%;
    z-index: 1;
        nav{
            width: 100%;
        }
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 20px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            line-height: 1.6;
        }
    }
}
.logo{
    display: block;
    width: 40%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
}