@media (max-width: 576px) {
    .clases{
        display: block;
    }
    .contacto{
        display: block;
    }
    .faq{
        display: block;
    }
    .nosotros{
        .conteinerGrid{
            display: block;
        }
    
    }
}
@media (max-width: 576px){
    .planes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .planAnual{
            width: 50%;
            height: 60%;
            margin: auto;
            padding: auto;
            a{
                font-size: 47px;
            }
        }
        .planMensual{
            width: 50%;
            height: 60%;
            margin: auto;
            padding: auto;
            a{
                font-size: 47px;
            }
        }
    }
}
@media (max-width: 576px){
    .form{
        .formHeader{
            width: 500px;
        }
        .formInput{
            margin-left: 10px !important;
        }
        #clases{
            margin: 0 50% 0 50%;
        }
        .textArea{
            margin-left: 10px;
        }
        .fieldset{
            margin: 40px;
        }
        .formBoton{
            margin-left: 60px;
        }
        .maps{
            width: 450px !important;
        }
    }

}