@media (max-width:768px){
    .clases{
        display: block;
    }
    .contacto{
        display: block;
    }
    .faq{
        display: block;
        .footer{
            position: absolute;
        }
    }
    .nosotros{
        .conteinerGrid{
            display: block;
        }
    }
}
@media (max-width: 768px){
    .planes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 200px;
        .planAnual{
            width: 50%;
            height: 60%;
            margin: auto;
            padding: auto;
            a{
                font-size: 47px;
            }
        }
        .planMensual{
            width: 50%;
            height: 60%;
            margin: auto;
            padding: auto;
            a{
                font-size: 47px;
            }
        }
    }
    .h2Planes{
        margin-top: 400px;
    }
}